  /* Estilos CSS */
  /* Estilos básicos */
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
  }

  h2 {
      margin: 0;
      padding: 10px 0;
  }

  /* Menu principal */
  nav {
      background-color: #333;
      color: #fff;
      padding: 10px;
  }

  nav ul {
      list-style-type: none;
      margin: 0 auto;
      max-width: 960px;
      display: flex;
      text-align: center;
  }


  nav ul li {
      flex: 1;
  }

  nav ul li a {
      color: #fff;
      padding: 10px;
      text-decoration: none;
  }


  /* Produtos em destaque */
  #produtos-destaque {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      margin-bottom: 20px;
  }


  #produtos-destaque h3 {
      margin: 0;
      flex-grow: 1;
  }

  .produto {
      display: flex;
      flex-direction: column;
      margin: 10px;
      padding: 10px;
      width: 200px;
      text-align: center;
      height: 280px;

  }

  .product-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
  }

  .produto img {
      margin: 0 auto;
      max-width: 150px;
      max-height: 150px;
      object-fit: contain;
      margin-bottom: 10px;
  }

  .produto-titulo {
      margin-top: 10px;
      margin-bottom: 5px;
  }


  footer.sticky-footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #503a3a;
      height: 50px;
  }

  .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
  }

  .footer-content p {
      color: #fff;
      margin: 0;
      font-size: 16px;
  }

  /* Login */

  .login-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9999;
  }

  .login-box {
      background-color: #fff;
      padding: 20px;
      width: 300px;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .login-box input {
      margin-bottom: 10px;
      width: 100%;
      padding: 5px;
  }

  .login-box button {
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
  }

  .login-box button.cancelar {
      background-color: #999;
  }

  /* Cadastro */
  .cadastro-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9999;
  }

  .cadastro-box {
      background-color: #fff;
      padding: 20px;
      width: 300px;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .cadastro-box input {
      margin-bottom: 10px;
      width: 100%;
      padding: 5px;
  }

  .cadastro-box button {
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
  }

  .cadastro-box button.cancelar {
      background-color: #999;
  }


  /* Estilos CSS */
  .carousel {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 200px;
      margin: 0 auto;
      overflow: hidden;
  }


  .slide {
      width: 20%;
      height: 80px;
      object-fit: contain;
  }


  .carousel-image {
      width: 20%;
      height: 80px;
  }


  .carousel-buttons {
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }

  .carousel-button {
      padding: 5px 10px;
      margin: 0 5px;
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
  }

  .slick-dots {
      display: none !important;
  }

  .buy-btn {
      width: 100%;
      padding: 10px;
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 20px;
      transition: background-color 0.3s ease-in-out;
  }

  .buy-btn:hover {
      background-color: #444;
  }

  .buy-btn:active {
      background-color: #555;
  }

  .buy-btn:focus {
      outline: none;
  }

  .buy-btn:disabled {
      background-color: #888;
      cursor: not-allowed;
  }

  .buy-btn.rounded {
      border-radius: 50%;
  }

  .buy-btn.active {
      background-color: #0f0;
  }

  .buy-btn.inactive {
      background-color: #f00;
  }

  /* Novo CSS para os botões de compra */
  .buy-btn {
      flex-shrink: 0;
      margin-top: auto;
  }

  .invalid {
      border: 1px solid red;
  }

  .produto-content {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .alert-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9999;
  }

  .alert-box {
      background-color: #fff;
      padding: 20px;
      width: 300px;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .alert-box p {
      margin: 0;
      padding: 10px 0;
  }

  .alert-box .close-btn {
      padding: 5px 10px;
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
  }

  #logout-btn {
      display: none;
      position: absolute;
      top: 207px;
      /* Altura do nome de usuário */
      right: 10px;
      z-index: 999;

      padding: 5px 10px;
      margin: 0 5px;
      background-color: #a70c0c;
      color: #fff;
      border-radius: 30px;

  }

  @media (max-width: 768px) {
      #logout-btn {
          top: 240px;
      }

      nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }
  }


  @media (max-width: 600px) {
    #logout-btn {
        top: 260px;
    }

    nav ul {
      flex-wrap: wrap;
      justify-content: center;
  }
}
